body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  margin: 0auto;
}
.login_block {
  text-align: center;
  border: 1px solid grey;
  border-radius: 5%;
  padding: 5%;
}
button{
  margin: 5%;
}